<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/album.css">
    <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/jstools/jquery-ui.min.js"></script>
    <!-- <script src="../javascripts/audio_wave.js"></script> -->
    <link rel="stylesheet" href="../stylesheets/tools/jquery-ui.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/upload.css" rel="stylesheet">
    <!-- Header script to reload js on embedded pages -->

    <title>Photofolio</title>
</head>

<body class = "home_body">

     <div class="home_container">
        <div class="home_wrapper">

            <div id ="home_title_container">
                <h1 class="home_title"><%= album%></h1>
            </div>
            <div class="brick-wall">
                <figure class="brick" data-user-id="1" data-date="" data-file-id="">
                    <div class="brick-img-container">
                        <img class="brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                    </div>
                </figure>
                <figure class="brick" data-user-id="1" data-date="" data-file-id="">
                    <div class="brick-img-container">
                        <img class="brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                    </div>
                </figure>
                <figure class="brick" data-user-id="1" data-date="" data-file-id="">
                        <div class="brick-img-container">
                            <img class="brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                        </div>
                </figure>
                <figure class="brick" data-user-id="1" data-date="" data-file-id="">
                        <div class="brick-img-container">
                            <img class="brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                        </div>
                </figure>
                <figure class="brick" data-user-id="1" data-date="" data-file-id="">
                        <div class="brick-img-container">
                            <img class="brick-img" src="http://iris.theaureview.com/wp-content/uploads/2015/04/it-follows-film.png">
                        </div>
                </figure>

            </div>
        
            <br class = 'clear'>
        </div>
    </div>
    <button class="btn btn-lg upload-btn-find-me" type="button">Find Me</button>
    <input id="upload-input-find-me" type="file" name="upload"></br>
    <script src="../javascripts/upload.js"></script>
    <!-- <script src="../javascripts/home.js"></script> -->
    <script>
        // init_home();
    </script>

</body>
</html>