<!DOCTYPE html>
<html lang="en">
<head>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
	<script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
	<script src="../javascripts/jstools/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../stylesheets/gallery.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/tools/imgareaselect-default.css" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/tools/bootstrap.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="../javascripts/jstools/jquery.imgareaselect.pack.js"></script>
	<script type="text/javascript" src="../javascripts/jstools/bootstrap.js"></script>
	<script type="text/javascript" src="../javascripts/jstools/bootstrap.min.js"></script>
	<title>Photofolio</title>
</head>
<header>
	<% if (logged_in) { %>	
		<ul class="tabs">
				<li class="tab-link" data-tab="home-tab">Home<a class="tab-url" href="/"></a></li>
				<li class="tab-link" data-tab="upload-tab">Upload<a class="tab-url" href="/upload"></a></li>
		</ul>
	<% } %>

	<h1>Photofolio</h1>
	<h2></h2>
	<button class="btn btn-lg find-btn" type="button" id="find-me-btn">Find Me By Uploading A Face</button>
    <input id="upload-input" type="file" name="upload"></br>
</header>
<body>
	<div class="lds-roller-container">
			<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>

 <div class="modal fade cent" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
				<!-- <div id="parent" style="position:relative;"> -->
		  			<img id="modal-image" src="" class="enlargeImageModalSource" >
				<!-- </div> -->
		</div>
		<div class="find-drag-btn-container">
			<button class = "btn btn-lg find-drag-btn" type="button" > Find Me With Selected Region </button>
		</div>
		
	  </div>
	 
    </div>
</div>
<div id="top">
	<ul id='arrows'>
		<li class='left' id="go-back-arrow">Go back</li>
	</ul>
</div>
<section class="gallery">
	<div class="row">
		<ul id="album_grid">
			<a href="#" class="close"></a>
		</ul>
	</div> 
	
</section>

<script src="../javascripts/gallery.js"></script>
<script>
	$(document).ready(function(){

		loadAlbum();
	})
</script>
</body>
</html>