<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
    <script src="../javascripts/jstools/jquery-3.2.1.min.js"></script>
    <script src="../javascripts/jstools/jquery-ui.min.js"></script>
    <!-- <script src="../javascripts/audio_wave.js"></script> -->
    <link rel="stylesheet" href="../stylesheets/tools/jquery-ui.min.css">
    <!-- Header script to reload js on embedded pages -->
 
    <title>Transmogrify</title>
</head>

<body class = "home_body">
 
     <div class="home_container">
        <div class="home_wrapper">

            <div id ="home_title_container">
                <h1 class="home_title"> Photo<span>folio </span></h1>
            </div>
            <div class="folder_grid">
                <% for(var i=0; i < (albums_names).length; i++) { %>
                 
                    <div class="folder">
                        <div class="folder_name" data-album-name= <%= (albums_names)[i] %> >
                             <%= (albums_names)[i] %> 
                        </div>
                    </div>
                <% } %>

            </div>
            <div >
            <br class = 'clear'>
        </div>
    </div>
    <img id = test_canvas src = ""/>


    <script src="../javascripts/home.js"></script>
    <script>
        // init_home();
    </script>

</body>
</html>