<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Transmogrify</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="../stylesheets/upload.css" rel="stylesheet">

</head>
<body>
	<div class = "home_container">

	    <div id = "wrap">
	        <div id = "left">
                <div class="panel-body">
                    <p class="image_title">Place Images</p>
                    <!-- <div class="progress">
                        <div class="progress-bar" role="progressbar"></div>
                    </div> -->  
                    <div id = "album_name_header"> Album Name </div>
                    <input id="album_name_input" type="text" name="album"><br>
                    <button class="btn btn-lg upload-btn" type="button">Upload File</button>
                </div>
	        </div>
	    </div>

	</div>
    <form action="upload_form" id="upload_form">
      
        <input id="upload-input" type="file" name="uploads" multiple="multiple" form="upload_form"></br>
        <input type="submit">
    </form>
	
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="../javascripts/upload.js"></script>

</body>
</html>
