

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
  --clrRed:   #CD412B; /* Red Highlights*/
  --clrBack:  #202020; /* Black Background */
  --clrBox:   #303232; /* Dark Box */
  --clrTitle: #F6EAE1; /* Whitish Title */
  --clrText:  #948C87; /* Duller Text*/
  --clrOut:   #505050; /* Faint Outline*/
  /* --colour6: #BEEAF8; /* Lighter Blue */ 
}
html {
    overflow-y: scroll;
}
#home_title_container{
  /* height: 400px; */
  /* width: 100vw; */

  /* position: relative; */
  /* align-content: center; */
  /* text-align: center; */
}
.home_title{
  /* position: relative; */
  /* margin: 0 auto; */
  /* text-align: center; */
}

header {
  background-color: #84b4b1;
  color: #fff;
  text-align: center;
  padding: 30px 0 120px;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
}
header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
}
header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 0.8;
  font-family: "Montserrat", sans-serif;
}
header p {
  padding-top: 30px;
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 50;
  font-family: "Montserrat", sans-serif;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}
.tab-link-url{
  position:relative;
  width:100%;
  height:100%;
}
body{
 
}
h1.home_title{ 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-align: center;
  font: 4em/1.5 'Open Sans', sans-serif;
  color: var(--clrText);
  font-weight: 800;
  padding-top: 50px;
  line-height: 1;
}

.home_title span {
	color: var(--clrTitle);
	font-weight: 300;
	/* margin-left: -7px; */
}

.home_body h1 {

}

.home_container{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;

    width: 80%;
    min-width:1540px;
    align-content: center;
}
.clear
{
    clear: both;
}
/* Wrapper @ Wrapper around bricks container */
.home_wrapper {
    /* padding-left: 17.5%;
    padding-right: 17.5%; */
    width: 100%;
}

.home_body img {
    top:0;
    vertical-align: middle;
    max-width: 100%;
}


.folder_grid {
  position:relative;
  display: flex;
  flex-flow: row wrap;
}



.folder {
  width: 200px;
  height: 140px;
  
  margin-left: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.folder:after {
  content: " ";
  width: 200px;
  height: 140px;
  border-radius: 0 5px 5px 5px;
  /* box-shadow: 2px 2px 1px 1px #CCCCCC; */
  display: block;
  background-color: #75a9dd;
  box-shadow: 2px 2px 1px 1px rgb(61, 59, 59);
  position: absolute;
  /* top: 15px; */
  /* left: 50px;     */
}

.folder:before {
  content: " ";
  width: 100px;
  height: 20px;
  border-radius: 5px 15px 0 0;
  display: block;
  box-shadow: 2px 2px 1px 1px rgb(37, 33, 33);
  background-color: #71aae4;
  position: absolute;
  top: 5px;
  /* left: 50px; */
}

.folder:hover{
  cursor: pointer;
}

.folder_name{
  z-index: 1000;
  top:40%;
  position: relative;
  font: 1em/1.5 'Open Sans', sans-serif;
  color: var(--clrTitle);
  font-weight: 800;
}

#test_canvas{
  z-index: 1000;
  /* width: 400px;
  height: 200px; */
  position: relative;
}