

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
:root {
  --clrRed:   #CD412B; /* Red Highlights*/
  --clrBack:  #202020; /* Black Background */
  --clrBox:   #303232; /* Dark Box */
  --clrTitle: #F6EAE1; /* Whitish Title */
  --clrText:  #948C87; /* Duller Text*/
  --clrOut:   #505050; /* Faint Outline*/
  /* --colour6: #BEEAF8; /* Lighter Blue */ 
}
html {
    overflow-y: scroll;
}
#home_title_container{
  /* height: 400px; */
  /* width: 100vw; */

  /* position: relative; */
  /* align-content: center; */
  /* text-align: center; */
}
.home_title{
  /* position: relative; */
  /* margin: 0 auto; */
  /* text-align: center; */
}
body{
  background-color: #303232;
}
h1.home_title{ 
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-align: center;
  font: 4em/1.5 'Open Sans', sans-serif;
  color: var(--clrText);
  font-weight: 800;
  padding-top: 50px;
  line-height: 1;
}

.home_title span {
	color: var(--clrTitle);
	font-weight: 300;
	/* margin-left: -7px; */
}

.home_body h1 {

}

.home_container{
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #202020;
    box-shadow: 0 0 20px 8px #303232 inset;
    width: 80%;
    min-width:1540px;
    align-content: center;
}
.clear
{
    clear: both;
}
/* Wrapper @ Wrapper around bricks container */
.home_wrapper {
    /* padding-left: 17.5%;
    padding-right: 17.5%; */
    width: 100%;
}

.home_body img {
    top:0;
    vertical-align: middle;
    max-width: 100%;
}


.folder_grid {
  position:relative;
  display: flex;
  flex-flow: row wrap;
}



.folder {
  width: 200px;
  height: 140px;
  margin-left: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.folder:after {
  content: " ";
  width: 200px;
  height: 140px;
  border-radius: 0 5px 5px 5px;
  box-shadow: 2px 2px 1px 1px #CCCCCC;
  display: block;
  background-color: #708090;
  position: absolute;
  /* top: 15px; */
  /* left: 50px;     */
}

.folder:before {
  content: " ";
  width: 100px;
  height: 20px;
  border-radius: 5px 15px 0 0;
  display: block;
  background-color: #708090;
  position: absolute;
  top: 5px;
  /* left: 50px; */
}

.folder:hover{
  cursor: pointer;
}

.folder_name{
  z-index: 1000;
  top:40%;
  position: relative;
  font: 1em/1.5 'Open Sans', sans-serif;
  color: var(--clrTitle);
  font-weight: 800;
}

#test_canvas{
  z-index: 1000;
  /* width: 400px;
  height: 200px; */
  position: relative;
}