/* Global Colours */
:root {
  --clrRed:   #CD412B; /* Red Highlights*/
  --clrBack:  #202020; /* Black Background */
  --clrBox:   #303232; /* Dark Box */
  --clrTitle: #F6EAE1; /* Whitish Title */
  --clrText:  #948C87; /* Duller Text*/
  --clrOut:   #505050; /* Faint Outline*/
  /* --colour6: #BEEAF8; /* Lighter Blue */
}


.btn:focus, .upload-btn:focus{
    outline: 0 !important;
}

header {
  background-color: #84b4b1;
  color: #fff;
  text-align: center;
  padding: 30px 0 120px;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
}
header h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 3px;
  line-height: 0.8;
  font-family: "Montserrat", sans-serif;
}
header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
}
header p {
  padding-top: 30px;
}
ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 50;
  font-family: "Montserrat", sans-serif;
}

ul.tabs li.current{
	background: #ededed;
	color: #222;
}
.tab-link-url{
  position:relative;
  width:100%;
  height:100%;
}
html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
} 

.row {
    border: solid;
    margin: auto;
    height: 100%;
    width: 100%;
}

#album_name_header{
    text-align: center;
    font: 24px 'Raleway', sans-serif;
    font-weight: 700;
 
    z-index: 1;
}

#album_name_input{
    font: 16px 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 2;
    margin-top: 2.5%;
    width: 45%;
    height:10%;
    z-index: 1;
}
.upload-btn {
    background-color: var(--clrBox);
    color: var(--clrRed);
    border: solid;
    border-color: var(--clrText);
    font: 16px 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 2;
    margin-top: 10%;
    width: 45%;
    height:10%;
    z-index: 1;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
    cursor:pointer;
    background-color: var(--clrBox);
    color: var(--clrTitle);
    border: solid;
    border-color: var(--clrTitle);
}

.files-ready{
    background-color: #009933;
    color: #e6d9d9;
    border: solid;
    border-color: var(--clrText);
    font: 16px 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 2;
    margin-top: 10%;
    width: 45%;
    height:10%;
    z-index: 1;
}
.files-ready:active,
.files-ready:hover,
.files-ready:focus{
    cursor:pointer;
    background-color: var(#00f652);
    color: var(--clrTitle);
    border: solid;
    border-color: var(--clrTitle);
}



#upload-input {
    display: none;
}

@media (min-width: 768px) {
    .main-container {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container1 {
        /* background: #5D3E3E; */
        /* min-width: 400px; */
        /* position: relative; */
        border-radius: 10px;
        opacity: 1.0;
        width: 100%;
        height: 100%;
    }
}

.home_container{
    min-width: 100px;
    padding-top: 4.8vh;
    padding-bottom: 10.8vh;
    height: 100%;
    width: 100%;
}


#wrap {
    position:relative;
    min-width: 1000px;
    padding-top: -30px;
    top: -100px;
    text-align: center;
    width: 100%;
    height: 100%;
}

#left, #right, #centre {
    min-width: 400px;
    background: var(--clrBox);
    color: var(--clrText);
    box-shadow: 0px 0px 20px 5px rgba(255, 254, 254, 0.2);
    opacity: 1.0;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 400px;
    /* margin-left: 2%;
    margin-right: 2%; */
    padding: 20px;
}

#right:hover > p.image_title{
    transition: 2s;
    color: black;
}
#left:hover > p.image_title{
    transition: 2s;
    color: black;
}
#left:hover > {
    transition: 2s;
    color: black;
}
.home_arrow{
    font-size:100px;
}

#overlay1{
    position: relative;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    opacity: 0.0;
    background: #000000;
}

#overlay1:hover{
}
#overlay1:hover > #image_test{
    transition: 1s;
    opacity: 0.8;
}
#overlay1:hover > .convert-btn{
    transition: 2.5s;
    background-color: #000000;
    opacity: 1.0;
    z-index: 1;
}
/* #overlay1:hover > .convert-btn{
    transition: 3s;
} */

.progress{
    margin-top: 30%;
}

#progress-convert{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    padding: auto;
    width: 80%;

    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
    border: solid 2px;
    border-radius: 8px;
    border-color: var(--clrText);
    /* background-color: #; */
}
#progress-bar-convert{
    width: 0%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: var(--clrText);
    color: white;
}


.image_title{
    /* position:absolute; */
    /* border: solid; */
    font: 40px 'Raleway', sans-serif;
    /*Title*/
    color: var(--clrTitle);
    font-weight: 300;
    letter-spacing: 0.5px;

    line-height: 1;
}


#admin_testing{
    left: 30%;
    width: 15%;
    font-size: 8px;
}
.admin_sub{
    display: inline-block;
    width: 40%;
}
